<html>
<meta http-equiv="Content-Type" content="text/html; charset=iso-10646" />
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<LINK rel="icon" type="image/png" href='icone.jpg' />
<!-- Icone de l onglet de la page web -->

<link type="text/css" rel="stylesheet" href='style-menu.css' media="all">
<!-- Importations du css -->

<head>
    <title>Menu</title>
    <!-- Titre de l onglet de la page web -->
</head>

<header>
    <div class="div-header-nom">
        <h1> Hymperlion </h1>
    </div>
    <div class="div-header-editions">
        <div class="div-header-editions-newsite">
            <a href="controll-newsite.js" class="a-div-header-edtions">Nouveaux Site</a>
        </div>

    </div>
</header>

<body>
    <div class="conteneur-1">
        <div class="div-1">
            <h1> Hymperlion</h1>
            <p> Bienvenu sur la page d'accueil du CMS </p>
        </div>
        <% let website_list = []; 
            website_list = Controller.fonctionController.website_list; 
        %>

            <div class="div-2">
                <%  if(website_list[0]!=null) 
                    {
                        website_list.forEach(function(element, indice) 
                        {
                    %>


                    <div class="affichage-div-image">
                        <div class="min-affichage-div-image">
                            <a class="a-image" href="controll-affichage-site.js?nom_site=<%= element %>">
                                <div class="a-image-background">
                                    <!-- Background nom image (apparait en hover) -->
                                    <span class="div-image-span"><%=element%></span>
                                </div>
                            </a>

                            <div class="div-image">
                                <img class="Min-Image" src="default.png" />
                            </div>
                        </div>

                        <div class="div-affichage-image-gestion">
                            <a class="a-div-affichage-image-gestion" href="controll-gestion.js?nom_site=<%= element %>">Gestion du site</a>
                        </div>
                    </div>

                    <%  }); } %>


            </div>

    </div>
</body>

</html>