header
{
    position: -webkit-sticky;
    position: sticky;
	top: 0%;
	
	background-color: #24445C;
	
	width: 100%;
    height: 10%;
   
    border-top: 0px;
	border-bottom: 2px solid black;
    box-shadow: 0px 5px 10px;
    
    display: flex;
}
body
{
    background-color: rgb(241, 241, 241);
    /*border-style: solid;
    border-color: rgb(253, 0, 0);*/
    width: 100%;
    height: auto;
    margin: 0%;
    padding: 0%;
    
}

h1
{
    color: white;
    padding-bottom: 0%;
    padding-top: 0%;
    margin: 0%;

}

h2
{
    margin: 0%;  
}

h1:hover{
    color: orange;
}

p{
    padding: 0%;
    margin: 0%;
}

a
{	
    color: aliceblue;
	text-decoration: none;
}

a:hover
{
    transition: 0.4s all;
	color: rgb(96, 226, 64);
}

audio
{
    width: 100%;
}

.checkbox-php
{
    color: white;
    padding: 0%;
    margin: 0%;
}

.liens-musique
{
    display: block;
    background-color: rgb(14, 70, 143);
    height: 100%;
    width: 100%;
    line-height:40px;
}

.div-headers-1
{
    margin-bottom: 0%;
    padding-bottom: 0%;
    /*border-style: solid;
    border-color: rgb(207, 221, 16);*/
    align-items: center;
    text-align: center;
}

.Lien-nav-Accueil
{
	list-style-type: none;

    color: white;
	
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
	
    transition: 0.5s all;
    /*
    background-color: black;
    border-style: solid;
    border-color: brown;*/
}

.Lien-nav-Accueil a:hover
{
    transition: 0.2s all;
}

.div-contenue
{
    display: flex;
    /*
    border-style: solid;
    border-color: rgb(216, 203, 21);*/
    background-color: #24445C;
    width: auto;
    height: 89%;
}

.div-liens-musique
{
    border: 1px solid rgb(87, 87, 87);
    margin-bottom: 1%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
}

.nav-liens-musique
{
    /*
    border-style: solid;
    border-color: rgb(216, 203, 21);*/
    background-color: rgb(39, 39, 39);
    width: 20%;
    height: 100%;

    overflow-y: scroll;
}

.div-liens-musique-gestion
{
    width: 70%;
    border-left: 1px solid rgb(160, 160, 160);
    margin-left: 1%;
    text-align: center;
}

.div-min-liens-musique
{
    width: 30%;
    height: auto;
    border: 2px solid rgb(221, 141, 35);
}

.img-min-liens-musique
{
    width: 100%;
    height: 100%;
}

.div-affichage-info-musique
{
    /*
    border-style: solid;
    border-color: rgb(221, 141, 35);*/
    height: 100%;
    width: 100%;
}

.gestion-div-info
{
    display: flex;
    /*
    border-style: solid;
    border-color: rgb(223, 13, 114);
*/
    border-bottom: 3px solid black;

    width: 100%;
    height: 50%;
}

.div-affichage-musique
{
    /*
    border-style: solid;
    border-color: rgb(52, 196, 16);*/
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 100%;
    justify-content: end;
    justify-items: end;
}

.div-img
{
    width: 32%;
    height: auto;
    /*
    border-style: solid;
    border-color: rgb(68, 236, 222);*/
}

.img
{
    width: auto;
    height: 100%;
    
    border-right: 1px solid rgb(255, 255, 255);
    /*
    border-style: solid;
    border-color: rgb(255, 255, 255);*/
}

.div-info
{
    width: 80%;
    height: auto;
    text-align: start;
    /*
    border-style: solid;
    border-color: rgb(236, 21, 21);*/
}

.gestion-div-lecteur-modif
{
    display: flex;
    /*
    border-style: solid;
    border-color: rgb(124, 126, 0);
    */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
}


.div-modif-audio
{
    width: 100%;
    height: 87%;
    background-color: rgb(5, 15, 22);
}

.div-lecteur-audio
{
    width: 100%;
    height: 12%;
    background-color: rgb(18, 40, 168);
}

.div-textarea
{
    height: 12%;
    width: 20%;
    resize: none;
    background-color: rgb(209, 209, 209);
}

.div-label-textarea
{
    width: 100%;
    height: 100%;
}

.div-contenue-modif
{
    display: flex;
    border-bottom: 1px solid rgb(255, 255, 255);
    
    height: auto;
}

.div-label-texte
{
    color: rgb(209, 207, 207);
    border-right: 2px solid rgb(212, 212, 212);
    padding-right: 5px;
    width: 50%;
    height: 30%;
}

.div-input
{
    padding: 0%;
    margin: 0%;
    padding-left: 5px;
    width: 50%;
    height: 30%;
}

.h23
{
    color: white;
}